# Introduction to the Tidyverse

## Grouping and summarizing

### Summarizing the median life expectancy

In [4]:
library(gapminder)
library(dplyr)
library(ggplot2)


gapminder %>%  
    summarize(medianLifeExp = median(lifeExp))

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  medianLifeExp
1 60.7125

### Summarizing the median life expectancy in 1957

In [5]:
gapminder %>%  
    filter(year == 1957) %>%
    summarize(medianLifeExp = median(lifeExp))

  medianLifeExp
1 48.3605

### Summarizing multiple variables in 1957

In [6]:

gapminder %>%  
    filter(year == 1957) %>%  
    summarize(medianLifeExp = median(lifeExp), maxGdpPercap = max(gdpPercap))

  medianLifeExp maxGdpPercap
1 48.3605       113523.1

### Summarizing by year

In [7]:

gapminder %>%  
    group_by(year) %>% 
    summarize(medianLifeExp = median(lifeExp), maxGdpPercap = max(gdpPercap))

   year medianLifeExp maxGdpPercap
1  1952 45.1355       108382.35
2  1957 48.3605       113523.13
3  1962 50.8810        95458.11
4  1967 53.8250        80894.88
5  1972 56.5300       109347.87
6  1977 59.6720        59265.48
7  1982 62.4415        33693.18
8  1987 65.8340        31540.97
9  1992 67.7030        34932.92
10 1997 69.3940        41283.16
11 2002 70.8255        44683.98
12 2007 71.9355        49357.19

### Summarizing by continent

In [8]:

gapminder %>%  
    filter(year==1957) %>%
    group_by(continent) %>% 
    summarize(medianLifeExp = median(lifeExp), maxGdpPercap = max(gdpPercap))

  continent medianLifeExp maxGdpPercap
1 Africa    40.5925         5487.104
2 Americas  56.0740        14847.127
3 Asia      48.2840       113523.133
4 Europe    67.6500        17909.490
5 Oceania   70.2950        12247.395