# Introduction to the Tidyverse

## Grouping and summarizing

### Summarizing the median life expectancy

In [1]:
library(gapminder)
library(dplyr)
library(ggplot2)


gapminder %>%  
    summarize(medianLifeExp = median(lifeExp))

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  medianLifeExp
1 60.7125

### Summarizing the median life expectancy in 1957

In [2]:
gapminder %>%  
    filter(year == 1957) %>%
    summarize(medianLifeExp = median(lifeExp))

  medianLifeExp
1 48.3605