# Introduction to the Tidyverse

## Grouping and summarizing

### Summarizing the median life expectancy

In [4]:
library(gapminder)
library(dplyr)
library(ggplot2)


gapminder %>%  
    summarize(medianLifeExp = median(lifeExp))

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  medianLifeExp
1 60.7125

### Summarizing the median life expectancy in 1957

In [5]:
gapminder %>%  
    filter(year == 1957) %>%
    summarize(medianLifeExp = median(lifeExp))

  medianLifeExp
1 48.3605

### Summarizing multiple variables in 1957

In [6]:

gapminder %>%  
    filter(year == 1957) %>%  
    summarize(medianLifeExp = median(lifeExp), maxGdpPercap = max(gdpPercap))

  medianLifeExp maxGdpPercap
1 48.3605       113523.1

### Summarizing by year

In [7]:

gapminder %>%  
    group_by(year) %>% 
    summarize(medianLifeExp = median(lifeExp), maxGdpPercap = max(gdpPercap))

   year medianLifeExp maxGdpPercap
1  1952 45.1355       108382.35
2  1957 48.3605       113523.13
3  1962 50.8810        95458.11
4  1967 53.8250        80894.88
5  1972 56.5300       109347.87
6  1977 59.6720        59265.48
7  1982 62.4415        33693.18
8  1987 65.8340        31540.97
9  1992 67.7030        34932.92
10 1997 69.3940        41283.16
11 2002 70.8255        44683.98
12 2007 71.9355        49357.19

### Summarizing by continent

In [8]:

gapminder %>%  
    filter(year==1957) %>%
    group_by(continent) %>% 
    summarize(medianLifeExp = median(lifeExp), maxGdpPercap = max(gdpPercap))

  continent medianLifeExp maxGdpPercap
1 Africa    40.5925         5487.104
2 Americas  56.0740        14847.127
3 Asia      48.2840       113523.133
4 Europe    67.6500        17909.490
5 Oceania   70.2950        12247.395

### Summarizing by continent and year

In [11]:
gapminder %>%  
    group_by(continent, year) %>% 
    summarize(medianLifeExp = median(lifeExp), maxGdpPercap = max(gdpPercap))

`summarise()` has grouped output by 'continent'. You can override using the `.groups` argument.

   continent year medianLifeExp maxGdpPercap
1  Africa    1952 38.8330         4725.296
2  Africa    1957 40.5925         5487.104
3  Africa    1962 42.6305         6757.031
4  Africa    1967 44.6985        18772.752
5  Africa    1972 47.0315        21011.497
6  Africa    1977 49.2725        21951.212
7  Africa    1982 50.7560        17364.275
8  Africa    1987 51.6395        11864.408
9  Africa    1992 52.4290        13522.158
10 Africa    1997 52.7590        14722.842
11 Africa    2002 51.2355        12521.714
12 Africa    2007 52.9265        13206.485
13 Americas  1952 54.7450        13990.482
14 Americas  1957 56.0740        14847.127
15 Americas  1962 58.2990        16173.146
16 Americas  1967 60.5230        19530.366
17 Americas  1972 63.4410        21806.036
18 Americas  1977 66.3530        24072.632
19 Americas  1982 67.4050        25009.559
20 Americas  1987 69.4980        29884.350
21 Americas  1992 69.8620        32003.932
22 Americas  1997 72.1460        35767.433
23 Americas  2002 72.0470        39097.100
24 Americas  2007 72.8990        42951.653
25 Asia      1952 44.8690       108382.353
26 Asia      1957 48.2840       113523.133
27 Asia      1962 49.3250        95458.112
28 Asia      1967 53.6550        80894.883
29 Asia      1972 56.9500       109347.867
30 Asia      1977 60.7650        59265.477
31 Asia      1982 63.7390        33693.175
32 Asia      1987 66.2950        28118.430
33 Asia      1992 68.6900        34932.920
34 Asia      1997 70.2650        40300.620
35 Asia      2002 71.0280        36023.105
36 Asia      2007 72.3960        47306.990
37 Europe    1952 65.9000        14734.233
38 Europe    1957 67.6500        17909.490
39 Europe    1962 69.5250        20431.093
40 Europe    1967 70.6100        22966.144
41 Europe    1972 70.8850        27195.113
42 Europe    1977 72.3350        26982.291
43 Europe    1982 73.4900        28397.715
44 Europe    1987 74.8150        31540.975
45 Europe    1992 75.4510        33965.661
46 Europe    1997 76.1160        41283.164
47 Europe    2002 77.5365        44683.975
48 Europe    2007 78.6085        49357.190
49 Oceania   1952 69.2550        10556.576
50 Oceania   1957 70.2950        12247.395
51 Oceania   1962 71.0850        13175.678
52 Oceania   1967 71.3100        14526.125
53 Oceania   1972 71.9100        16788.629
54 Oceania   1977 72.8550        18334.198
55 Oceania   1982 74.2900        19477.009
56 Oceania   1987 75.3200        21888.889
57 Oceania   1992 76.9450        23424.767
58 Oceania   1997 78.1900        26997.937
59 Oceania   2002 79.7400        30687.755
60 Oceania   2007 80.7195        34435.367