# Introduction to Statistics in R

## Summary Statistics

### Mean and median

In [12]:
install.packages("readr")
install.packages("tidyverse")

The downloaded binary packages are in
	/var/folders/_n/j4yxcfdd4hndhcyg8xh51sc00000gn/T//RtmpM0lUZA/downloaded_packages

also installing the dependencies ‘blob’, ‘DBI’, ‘data.table’, ‘cellranger’, ‘ids’, ‘timechange’, ‘broom’, ‘conflicted’, ‘dbplyr’, ‘dtplyr’, ‘forcats’, ‘googledrive’, ‘googlesheets4’, ‘haven’, ‘lubridate’, ‘modelr’, ‘readxl’, ‘reprex’, ‘tidyr’

The downloaded binary packages are in
	/var/folders/_n/j4yxcfdd4hndhcyg8xh51sc00000gn/T//RtmpM0lUZA/downloaded_packages

In [1]:
library(readr)

In [13]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ purrr     1.0.2
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [4]:
food_consumption <- read_csv("food.csv")

Rows: 1430 Columns: 4
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (2): country, food_category
dbl (2): consumption, co2_emission

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
food_consumption

     country    food_category consumption co2_emission
1    Argentina  pork           10.51        37.20
2    Argentina  poultry        38.66        41.53
3    Argentina  beef           55.48      1712.00
4    Argentina  lamb_goat       1.56        54.63
5    Argentina  fish            4.36         6.96
6    Argentina  eggs           11.39        10.46
7    Argentina  dairy         195.08       277.87
8    Argentina  wheat         103.11        19.66
9    Argentina  rice            8.77        11.22
10   Argentina  soybeans        0.00         0.00
11   Argentina  nuts            0.49         0.87
12   Australia  pork           24.14        85.44
13   Australia  poultry        46.12        49.54
14   Australia  beef           33.86      1044.85
15   Australia  lamb_goat       9.87       345.65
16   Australia  fish           17.69        28.25
17   Australia  eggs            8.51         7.82
18   Australia  dairy         234.49       334.01
19   Australia  wheat          70.46        13.44
20   Australia  rice           11.03        14.12
21   Australia  soybeans        0.19         0.09
22   Australia  nuts            8.73        15.45
23   Albania    pork           10.88        38.51
24   Albania    poultry        13.23        14.21
25   Albania    beef           22.50       694.30
26   Albania    lamb_goat      15.32       536.50
27   Albania    fish            3.85         6.15
28   Albania    eggs           12.45        11.44
29   Albania    dairy         303.72       432.62
30   Albania    wheat         138.64        26.44
⋮    ⋮          ⋮             ⋮           ⋮
1401 Indonesia  lamb_goat       0.46       16.11
1402 Indonesia  fish           25.65       40.95
1403 Indonesia  eggs            4.88        4.48
1404 Indonesia  dairy          14.82       21.11
1405 Indonesia  wheat          25.45        4.85
1406 Indonesia  rice          134.62      172.27
1407 Indonesia  soybeans        1.12        0.50
1408 Indonesia  nuts            4.92        8.71
1409 Liberia    pork            4.01       14.19
1410 Liberia    poultry         8.91        9.57
1411 Liberia    beef            0.78       24.07
1412 Liberia    lamb_goat       0.48       16.81
1413 Liberia    fish            4.13        6.59
1414 Liberia    eggs            2.05        1.88
1415 Liberia    dairy           3.04        4.33
1416 Liberia    wheat          10.95        2.09
1417 Liberia    rice           94.75      121.25
1418 Liberia    soybeans        0.63        0.28
1419 Liberia    nuts            1.31        2.32
1420 Bangladesh pork            0.00        0.00
1421 Bangladesh poultry         1.40        1.50
1422 Bangladesh beef            1.28       39.50
1423 Bangladesh lamb_goat       1.33       46.58
1424 Bangladesh fish           18.07       28.85
1425 Bangladesh eggs            2.08        1.91
1426 Bangladesh dairy          21.91       31.21
1427 Bangladesh wheat          17.47        3.33
1428 Bangladesh rice          171.73      219.76
1429 Bangladesh soybeans        0.61        0.27
1430 Bangladesh nuts            0.72        1.27

### Mean and median

In [14]:

belgium_consumption <- food_consumption %>% 
    filter(country=="Belgium")


usa_consumption <- food_consumption %>% 
    filter(country=="USA")


mean(belgium_consumption$consumption)
median(belgium_consumption$consumption)


mean(usa_consumption$consumption)
median(usa_consumption$consumption)

[1] 42.13273

[1] 12.59

[1] 44.65

[1] 14.58

In [15]:
food_consumption %>%
  
  filter(country %in% c("Belgium", "USA")) %>%
  
  group_by(country) %>%
  
  summarize(mean_consumption = mean(consumption),
      median_consumption = median(consumption))

  country mean_consumption median_consumption
1 Belgium 42.13273         12.59
2 USA     44.65000         14.58