## Random Numbers and Probability

### Calculating probabilities

In [1]:
library(readr)

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ purrr     1.0.2
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
amir_deals <- read_csv("amirs.csv")

Rows: 178 Columns: 5
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (3): product, client, status
dbl (2): amount, num_users

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [4]:

amir_deals %>%
  count(product)

   product   n
1  Product A 23
2  Product B 62
3  Product C 15
4  Product D 40
5  Product E  5
6  Product F 11
7  Product G  2
8  Product H  8
9  Product I  7
10 Product J  2
11 Product N  3

Create a new column called prob by dividing n by the total number of deals Amir worked on.

In [5]:

amir_deals %>%
  count(product) %>%
  mutate(prob = n/sum(n))

   product   n  prob
1  Product A 23 0.12921348
2  Product B 62 0.34831461
3  Product C 15 0.08426966
4  Product D 40 0.22471910
5  Product E  5 0.02808989
6  Product F 11 0.06179775
7  Product G  2 0.01123596
8  Product H  8 0.04494382
9  Product I  7 0.03932584
10 Product J  2 0.01123596
11 Product N  3 0.01685393

If you randomly select one of Amir's deals, what's the probability that the deal will involve Product C?

8.43%

###  Sampling deals

In [6]:

set.seed(31)


amir_deals %>%
  sample_n(5)

  product   client  status amount  num_users
1 Product D Current Lost   3086.88 55
2 Product C Current Lost   3727.66 19
3 Product D Current Lost   4274.80  9
4 Product B Current Won    4965.08  9
5 Product A Current Won    5827.35 50

In [7]:

set.seed(31)


amir_deals %>%
  sample_n(5, replace=TRUE)

  product   client  status amount  num_users
1 Product D Current Lost   3086.88 55
2 Product C Current Lost   3727.66 19
3 Product D Current Lost   4274.80  9
4 Product B Current Won    4965.08  9
5 Product A Current Won    5827.35 50

Spectactular sampling! It's important to consider how you'll take a sample since there's no one-size-fits-all way to sample, and this can have an effect on your results.

### Creating a probability distribution

In [8]:
df <- data.frame(
  group_id = c('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'),
  group_size = c(2, 4, 6, 2, 2, 2, 3, 2, 4, 2)
)

In [9]:
df

   group_id group_size
1  A        2
2  B        4
3  C        6
4  D        2
5  E        2
6  F        2
7  G        3
8  H        2
9  I        4
10 J        2