## Random Numbers and Probability

### Calculating probabilities

In [17]:
library(readr)

In [14]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [15]:
amir_deals <- read_csv("amirs.csv")

Rows: 178 Columns: 5
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (3): product, client, status
dbl (2): amount, num_users

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [16]:

amir_deals %>%
  count(product)

   product   n
1  Product A 23
2  Product B 62
3  Product C 15
4  Product D 40
5  Product E  5
6  Product F 11
7  Product G  2
8  Product H  8
9  Product I  7
10 Product J  2
11 Product N  3

Create a new column called prob by dividing n by the total number of deals Amir worked on.

In [18]:

amir_deals %>%
  count(product) %>%
  mutate(prob = n/sum(n))

   product   n  prob
1  Product A 23 0.12921348
2  Product B 62 0.34831461
3  Product C 15 0.08426966
4  Product D 40 0.22471910
5  Product E  5 0.02808989
6  Product F 11 0.06179775
7  Product G  2 0.01123596
8  Product H  8 0.04494382
9  Product I  7 0.03932584
10 Product J  2 0.01123596
11 Product N  3 0.01685393